
data/raw/RAIS_VINC_PUB_MG_ES_RJ_Vinculo_0.csv
data/processed/dataframe_processed_01.csv
data/processed/dataframe_processed.csv
data/raw/clientes_consolidado.csv
data/raw/clientes_consolidado_01.csv
data/raw/RAIS_VINC_PUB_MG_ES_RJ_tratado.csv
models/extration/rais_2021_V0.ipynb
models/extration/rais_2021_V1.ipynb
models/extration/rais_2021_V2.ipynb
models/extration/rais_2021_V3.ipynb
models/historic/conversion_v00.ipynb
models/historic/conversion_v01.ipynb
models/historic/conversion_v02.ipynb
models/historic/conversion_v03.ipynb
models/historic/conversion_v04.ipynb
models/prepared_data/transform_data_0.ipynb
models/prepared_data/transform_data_1.ipynb
models/prepared_data/transform_data_2.ipynb
